<h1>Listing contacters</h1>

<% form_tag bin_contacters_path, :method => :get do -%>
  <div id="search">
<%=text_field_tag "search", params[:search]%>
    <%= submit_tag '查找', :class => 'button' %>
  </div>
<% end %>

<br>
<table>

<% @contacters.each do |contacter| %>

	<tr>
	  <th width=100>Name</th>
	  <th width=200>Company</th>
	  <th width=200>Email</th>
	  <th width=150>Phone</th>
	  <th width=150>Cellphone</th>
	  <td rowspan=4><%= link_to 'Show', contacter_path(:id => contacter.id, :return_path => 'bin') %>
<% if session[:user_id] == contacter.user_id %>
    <%= link_to 'Edit', edit_contacter_path(:id => contacter.id, :return_path => 'bin') %>
		    <%= link_to 'Destroy', contacter, :confirm => 'Are you sure?', :method => :delete %>	
	<% end %>	
	  </td>
	</tr>
  <tr>
    <td><span style="FONT-WEIGHT: strong; FONT-SIZE: 14pt;"><%= contacter.name %></span></td>
    <td><%= contacter.company %></td>
    <td><%= contacter.email %></td>
    <td><%= contacter.phone %></td>
    <td><%= contacter.cellphone %></td>
   
		<tr>
		  <th colspan=3>Address</th>
		  <th colspan=2>Note</th>
		</tr>
		
		<tr>
    	<td colspan=3><%= contacter.address %></td>
    	<td colspan=2><%= contacter.note %></td>
		</tr>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back To List', contacters_path %>
<% if (params[:search] != nil && params[:search] != '')%>
 | <%= link_to 'Back', bin_contacters_path%>
<% end %>
<br>
<%= (page_admin( :contacters_path, @page.count, @page.limit, params, ' ')).html_safe%>
