<h1>Listing calendars</h1>

<% form_tag bin_calendars_path, :method => :get do -%>
  <div id="search">
<%=text_field_tag "search", params[:search]%>
    <%= submit_tag '查找', :class => 'button' %>
  </div>
<% end %>
<br>
<table>
  <tr>
    <th width=100>Date</th>
    <th width=100>User</th>
    <th width=100>Note</th>
    <th width=150></th>
  </tr>

<% @calendars.each do |calendar| %>
  <tr>
    <td><%= shift_date(calendar.date) %></td>
    <td><%= calendar.user.show_name %></td>
    <td><%= (calendar.content).html_safe %></td>
    <td><%= link_to 'Show', calendar_path(:id => calendar.id, :return_path => 'bin') %>
<% if session[:user_id] == calendar.user_id %>
    <%= link_to 'Edit', edit_calendar_path(:id => calendar.id, :return_path => 'bin') %>
    <%= link_to 'Destroy', calendar, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back To List', calendars_path %>
<% if (params[:search] != nil && params[:search] != '')%>
 | <%= link_to 'Back', bin_calendars_path%>
<% end %>
<br>
<%= (page_admin( :bin_calendars_path, @page.count, @page.limit, params, ' ')).html_safe%>
